body.q{
  background-color: gray;
}
body.j {
  background-color: gray;
}
H3.unoj{
	color:black;
	font-family:Lucida Bright; 
}
table.unoj {
	text-align:center;
	font-family:Lucida Bright; 
	border:none;
	margin-left:90px;
	margin-right:90px;
}
H1.unoj{
 color:#BBFFC7 ;
 margin-left: none;
 font-family: Lucida Console, Courier New, monospace;
 text-align:center;
}
H3.dosj{
	color:#F186B5;
	font-family:Lucida Bright; 
	margin-left:90px;
}
