body.j {
  background-color: black;
  
}
div{
	 border:1px;
	
}

H1.unoj{
 color:#BBFFC7 ;
 margin-left: none;
 font-family:cursive;
 text-align:center;
}
h2{
  color:#BBFFC7 ;
  margin-left:20px;
  font-family: serif;
  text-align:center;
}
th.dos{
  color:white;
  margin-right: 2px;
  margin-left:20px;
}
	
p.uno{ 
background-color:pink;
font-family:serif;
}
h4.unoj{
   text-align:center;
   font-family:cursive;
   color:white;
}

H3.unoj{
	color:Yellow;
	font-family:cursive;
	margin-left:90px;
}
table.unoj {
	text-align:center;
	font-family:serif; 
	border:none;
	margin-left:90px;
	margin-right:90px;
    color:white
}
p.uno{
	 border: 1px solid black;
  background-color:#D47AF6;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  color:white
}
a {
  color:white;
  font-family:serif; 
}
H3.dosj{
	color:#F186B5;
	font-family:cursive; 
	margin-left:90px;
	
}
b{
  font-family:cursive; 
}








