body.j {
  background-color: gray;
}
div{
	 border:1px;
	
}

H1.unoj{
 color:#BBFFC7 ;
 margin-left: none;
 font-family: Lucida Console, Courier New, monospace;
 text-align:center;
}
h2{
  color:#BBFFC7 ;
  margin-left:20px;
  font-family: Lucida Console, Courier New, monospace;
  text-align:center;
}
th.dos{
  color:white;
  margin-right: 2px;
  margin-left:20px;
}
	
p.uno{ 
background-color:pink;
font-family: Lucida Console, Courier New, monospace;
}
h4{border-style: dotted;
   text-align:center;
   font-family: Lucida Console, Courier New, monospace;
}
 th, td.uno{
  border: 1px solid;
}
H3.unoj{
	color:Yellow;
	font-family:Lucida Bright; 
	margin-left:90px;
}
table.unoj {
	text-align:center;
	font-family:Lucida Bright; 
	border:none;
	margin-left:90px;
	margin-right:90px;

}
p.uno{
	 border: 1px solid black;
  background-color:#D47AF6;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
}
a {
  color: Black;
   font-family:Lucida Bright; 
}
H3.dosj{
	color:#F186B5;
	font-family:Lucida Bright; 
	margin-left:90px;
}










